body {
  padding-top: 1em;
}

.done {
  color: #777;
  text-decoration: line-through;
}

.todo-item-label {
  margin-left: .5em;
}

.kept-list {
  height: 100%;
  -webkit-columns: 5;
  -moz-columns: 5;
  columns: 5;
}

.kept-panel {
  /* FF hack to emulate "break-inside: avoid;" behavior */
  display: table;
  width: 100%;
  /* Webkit "break-inside: avoid;" hack */
  -webkit-column-break-after: avoid;
  -webkit-column-break-before: avoid;
  -webkit-column-break-inside: avoid;
  /* Standard */
  -webkit-break-inside: avoid;
  -moz-break-inside: avoid;
  break-inside: avoid;
}
  .kept-panel header {
    cursor: move;
  }

.targetted {
  border: 1px dashed #333;
}

/* TODO: responsive adjustment of number of columns */

/**
 * Inspired by http://cameronbaney.com/2012/07/26/pure-html5css3-responsive-modal-window/
 */
.kept-modal {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  width: 60%;
  margin: -250px 0 0 -30%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 7px rgba(0,0,0,.25);
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
  .kept-modal .panel {
    margin-bottom: 0;
  }
