body {
  padding-top: 1em;
}

.done {
  color: #777;
  text-decoration: line-through;
}

.todo-item-label {
  margin-left: .5em;
}

.kept-list {
  height: 100%;
}
  @media (max-width: 768px) {
    .kept-list {
      -webkit-columns: 1;
      -moz-columns: 1;
      columns: 1;
    }
  }
  @media (min-width: 768px) {
    .kept-list {
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
    }
  }
  @media (min-width: 992px) {
    .kept-list {
      -webkit-columns: 3;
      -moz-columns: 3;
      columns: 3;
    }
  }
  @media (min-width: 1200px) {
    .kept-list {
      -webkit-columns: 4;
      -moz-columns: 4;
      columns: 4;
    }
  }
  @media (min-width: 1400px) {
    .kept-list {
      -webkit-columns: 5;
      -moz-columns: 5;
      columns: 5;
    }
  }

.kept-panel {
  /* FF hack to emulate "break-inside: avoid;" behavior */
  display: table;
  width: 100%;
  /* Webkit "break-inside: avoid;" hack */
  -webkit-column-break-after: avoid;
  -webkit-column-break-before: avoid;
  -webkit-column-break-inside: avoid;
  /* Standard */
  -webkit-break-inside: avoid;
  -moz-break-inside: avoid;
  break-inside: avoid;
}
  .kept-panel header {
    cursor: move;
  }
    .kept-modal .kept-panel header {
      cursor: default;
    }

.targetted {
  border: 1px dashed #333;
}

/* TODO: responsive adjustment of number of columns */

.kept-modal-bg {
  position: absolute;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .65);
}

/**
 * Inspired by http://cameronbaney.com/2012/07/26/pure-html5css3-responsive-modal-window/
 */
.kept-modal {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  width: 60%;
  margin: -250px 0 0 -30%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 7px rgba(0,0,0,.25);
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
  .kept-modal .panel {
    margin-bottom: 0;
  }
