body {
  padding-top: 1em;
}

.done {
  color: #777;
  text-decoration: line-through;
}

.todo-item-label {
  margin-left: .5em;
}

.kept-default button {
  margin-left: .35em;
}

.kept-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items:stretch;
  width: 100%;
  height: 100%;
}

.kept-columns {
  align-self: auto;
  flex: 1 0 0;
  margin: 0 1em;
}
.kept-columns:first-child {
  margin-left: 0;
}
.kept-columns:last-child {
  margin-right: 0;
}

.kept-panel {
  /* FF hack to emulate "break-inside: avoid;" behavior */
  display: table;
  width: 100%;
  /* Webkit "break-inside: avoid;" hack */
  -webkit-column-break-after: avoid;
  -webkit-column-break-before: avoid;
  -webkit-column-break-inside: avoid;
  /* Standard */
  -webkit-break-inside: avoid;
  -moz-break-inside: avoid;
  break-inside: avoid;
}
  .kept-panel .panel-heading {
    cursor: move;
  }
    .kept-modal .kept-panel .panel-heading {
      cursor: default;
    }
    .kept-panel h3 a {
      display: block;
      float: right;
      margin-left: .5em;
    }

.targetted {
  border: 1px dashed #333;
}

.modal {
  background: rgba(0, 0, 0, .65);
  min-width: 320px;
}

.modal-body {
  padding-bottom: 0;
}

.todo-form li input[type="text"] {
  width: 445px;
}
  @media (max-width: 768px) {
    .todo-form li .form-control {
      display: inline;
    }
    .todo-form li input[type="text"] {
      width: 145px;
    }
  }
